<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Username: <%= user.username %></p>
    <p>Description: <%= user.description %></p>
    <p>Twitter: <%= user.socialLinks.twitter %></p>
    <p>Facebook: <%= user.socialLinks.facebook %></p>
    <p>Instagram: <%= user.socialLinks.instagram %></p>
    <p>Profile Visits: <%= user.visits %></p>
    <a href="/">Back to Home</a>
    <a href="/ajustes">Settings</a>
    <a href="/logout">Logout</a>
</body>
</html>
