<!DOCTYPE html>
<html>
<head>
    <title>Profile - <%= user.username %></title>
</head>
<body>
    <h1>Profile of <%= user.username %></h1>
    <p>Email: <%= user.email %></p>
    <p>Description: <%= user.description %></p>
    <p>Social Links: <%= user.social_links %></p>
    <p>Profile Views: <%= user.views %></p>
    <a href="/settings">Edit Profile</a>
</body>
</html>
